<div class="container">
  <div class="row">
    <div class="col-3">
      <div *ngIf="categories$ | async as categories" class="mb-8">
        <!-- title -->
        <h5 class="mb-3">Categories</h5>
        <!-- nav -->
        <ul class="nav nav-category" id="categoryCollapseMenu">

          <li *ngFor="let category of categories" class="nav-item border-bottom w-100 collapsed" aria-expanded="false"
              aria-controls="categoryFlushOne"><a routerLink="/categories/{{category.id}}"
                                                  class="nav-link">{{category.name}} <i
            class="feather-icon icon-chevron-right"></i></a>

        </ul>
      </div>
      <div [formGroup]="filters">
        <div *ngIf="stores$ | async as stores" class="mb-8">

          <h5 class="mb-3">Stores</h5>
          <!-- form check -->
          <div *ngFor="let store of stores" class="form-check mb-2">
            <!-- input -->
            <input class="form-check-input" type="checkbox" value="{{store.id}}" id="{{store.id}}" (change)="onCheckChange($event)">
            <label class="form-check-label" for="{{store.id}}">
              {{store.name}}
            </label>
          </div>


        </div>
        <div class="mb-8">
        <h5 class="mb-3">Price</h5>
        <div class="my-2">
          <!-- input -->
          <input type="number" formControlName="priceFrom" class="form-control" placeholder="Price from">
        </div>
        <div class="my-2">
          <!-- input -->
          <input type="number" formControlName="priceTo" class="form-control" placeholder="Price to">
        </div>
          </div>
        <div class="mb-8">

          <h5 class="mb-3">Rating</h5>
          <div>
            <!-- form check -->
            <div class="form-check mb-2">
              <!-- input -->
              <input class="form-check-input" type="radio" name="rating" formControlName="rating" value="5" id="ratingFive">
              <label class="form-check-label" for="ratingFive">
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning "></i>
                <i class="bi bi-star-fill text-warning "></i>
                <i class="bi bi-star-fill text-warning "></i>
                <i class="bi bi-star-fill text-warning "></i>
              </label>
            </div>
            <!-- form check -->
            <div class="form-check mb-2">
              <!-- input -->
              <input class="form-check-input" type="radio" name="rating" formControlName="rating" value="4" id="ratingFour">
              <label class="form-check-label" for="ratingFour">
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning "></i>
                <i class="bi bi-star-fill text-warning "></i>
                <i class="bi bi-star-fill text-warning "></i>
                <i class="bi bi-star text-warning"></i>
              </label>
            </div>
            <!-- form check -->
            <div class="form-check mb-2">
              <!-- input -->
              <input class="form-check-input" type="radio" name="rating" formControlName="rating" value="3" id="ratingThree">
              <label class="form-check-label" for="ratingThree">
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning "></i>
                <i class="bi bi-star-fill text-warning "></i>
                <i class="bi bi-star text-warning"></i>
                <i class="bi bi-star text-warning"></i>
              </label>
            </div>
            <!-- form check -->
            <div class="form-check mb-2">
              <!-- input -->
              <input class="form-check-input" type="radio" name="rating" formControlName="rating" value="2" id="ratingTwo">
              <label class="form-check-label" for="ratingTwo">
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star text-warning"></i>
                <i class="bi bi-star text-warning"></i>
                <i class="bi bi-star text-warning"></i>
              </label>
            </div>
            <!-- form check -->
            <div class="form-check mb-2">
              <!-- input -->
              <input class="form-check-input" type="radio" name="rating" formControlName="rating" value="1" id="ratingOne">
              <label class="form-check-label" for="ratingOne">
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star text-warning"></i>
                <i class="bi bi-star text-warning"></i>
                <i class="bi bi-star text-warning"></i>
                <i class="bi bi-star text-warning"></i>
              </label>
            </div>
          </div>


        </div>


      </div>
    </div>
    <div *ngIf="category$ | async as category" class="col-9">
      <div class="card mb-4 bg-light border-0">
        <!-- card body -->
        <div class=" card-body p-9">
          <h2 class="mb-0 fs-1">{{category.name}}</h2>
        </div>
      </div>
      <div *ngIf="productsWithQueryModel$ | async as products">
        <div class="container mb-12">
          <div class="row mb-3">
            <div *ngIf="products$ | async as allProducts" class="col-9">{{allProducts.length}}
              <span
                class="text-decoration-none text-muted"><small> Products Found</small></span></div>
            <div class="col-3" [formGroup]="filters">
              <select class="form-select" formControlName="sorting">
                <option *ngFor="let item of sortingOption$ | async" [value]="item">
                  {{item}}</option>
              </select>
            </div>
          </div>
          <div *ngFor="let product of products" class="card card-product mb-3">
            <!-- card body -->
            <div class="card-body">
              <div class=" row align-items-center">
                <!-- col -->
                <div class="col-md-4 col-12">

                  <div class="text-center position-relative ">
                    <a href="shop-single.html">
                      <!-- img --><img src="{{product.imageUrl}}" alt="{{product.name}}" class="mb-3 img-fluid"></a>

                  </div>
                </div>
                <div class="col-md-8 col-12 flex-grow-1">
                  <!-- heading -->
                  <div class="text-small mb-1"><a routerLink="/categories/{{product.categoryId}}"
                                                  class="text-decoration-none text-muted"><small>{{category.name}}</small></a>
                  </div>
                  <h2 class="fs-6"><a href="#" class="text-inherit text-decoration-none">{{product.name}}</a>
                  </h2>
                  <div>

                    <!-- rating -->

                    <small class="text-warning"> <i *ngFor="let val of product.ratingOptions" class="bi"
                                                    [ngClass]="{'bi-star-fill': val === 1, 'bi-star': val === 0, 'bi-star-half': val === 0.5}"></i>
                    </small>
                    <span class="text-muted small">{{product.ratingValue}}({{product.ratingCount}})</span>
                  </div>
                  <div class=" mt-6">
                    <!-- price -->
                    <div><span class="text-dark">${{product.price}}</span>
                    </div>

                  </div>
                </div>
              </div>



            </div>
          </div>

          <div class="row pe-4">
          <nav class="col" *ngIf="paginationData$ |async as paginationData">
            <span class="fw-bold">Limit</span>
          <ul class="pagination">
            <li class="page-item" *ngFor="let item of limitOption | async"><a class="{{paginationData.limit === item ? 'page-link mx-1 active' : 'page-link mx-1'}}" (click)="changedLimit(item)">{{item}}</a></li>
          </ul>
          </nav>

          <nav class="col" *ngIf="paginationData$ |async as paginationData">
            <span class="fw-bold">Pagination</span>
            <ul class="pagination">
              <li class="page-item" *ngFor="let item of pageOption | async"><a class="{{paginationData.page === item ? 'page-link mx-1 active' : 'page-link mx-1'}}" (click)="changedPage(item)">{{item}}</a></li>
            </ul>
          </nav>
            </div>

        </div>

      </div>


    </div>
  </div>
</div>

